@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ffa500;
  --soft-orange: #DEAD50;
  --background-button: #FFEDCC;
  --light-gray: #A2A5A6;
  --dark: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    transition: all 0.1s;
}
*::selection{
  background:var(--orange);
  color:#fff;
}

header {
  background-color: var(--dark);
  position: fixed;
  z-index: 2;
}
.header-box-content {
  color: white;
  padding: 1.2em 9em;
}
.logo-box {
  font-size: 1.5em;
  font-weight: 700;
}

  /* Hambruger-box */

.hamburger-main-box {
  display: none;
}
.hamburger-box {
  padding: 0.3em 0.7em;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.hamburger-box i {
  font-size: 1.7em;
}

  /* Close Hamburger Menu Button */

.hamburger-close-box {
  display: none;
}
.hamburger-close-box.show {
  display: block;
}
.close-box {
  padding: 0.3em 0.7em;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.close-box i {
  font-size: 1.7em;
}

.logo-box a {
  color: white;
  text-decoration: none;
}
.logo-box span {
  color: var(--orange);
}

  /* Nav Menu */

nav ul li {
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
nav ul a:hover {
  color: var(--orange);
}

  /* Hamburger Menu - Hidden */

.hamburger-main-box {
  position: absolute;
  top: -120%;
  left: 2%;
}
.hamburger-menu-box {
  border-top: 1px solid var(--light-gray);
  display: none;
}
.hamburger-menu-box a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: rgb(32, 32, 32);
  padding: 1em;
  margin: 1em 0;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 1.1em;
}
.hamburger-menu-box a:hover {
  color: var(--orange);
}

  /* Search / User Login Icons */

.search-login-box i {
  font-size: 1.6em;
}
.search-login-box a {
  color: white;
  text-decoration: none;
}
.search-login-box a:hover {
  color: var(--orange);
}
#close-btn {
  display: none;
}

/* Form-Search - Hidden */

#form-main-box {
  display: none;
}
#formulario-search {
  padding: 0.9em 0.8em;
  display: flex;
  align-items: center;
}
#formulario-search input {
  width: 100%;
  border: none;
  padding: 0.6em 1em;
  border-radius: 5px;
  outline: none;
  color: var(--dark);
}
#formulario-search i {
  color: white;
  font-size: 2em;
}
#formulario-search label {
  margin-left: 1em;
  cursor: pointer;
}
#formulario-search i:hover {
  color: var(--orange);
}

/* Login Content Modal */

.main-modal-box {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#modal-close-btn {
  position: absolute;
  top: 0.5em;
  right: 0.7em;
  color: white;
  font-size: 3em;
  cursor: pointer;
}
.login-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
}
.login-box {
  background-color: white;
  max-width: 28em;
  padding: 1em;
  border-radius: 5px;
}
.login-box h3 {
  color: var(--dark);
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.5em 0;
}
#data-login-box input {
  width: 100%;
  padding: 0.6em;
  border: 1px solid var(--light-gray);
  outline: none;
  color: var(--dark);
  margin-bottom: 1em;
}
#data-login-box input:focus {
  border: 1px solid var(--orange);
}
#data-login-box button {
  width: 100%;
  border: 2px solid var(--orange);
  background-color: var(--orange);
  color: white;
  font-size: 1.1em;
  padding: 0.5em 0;
  transition: 0.3s;
}
#data-login-box button:hover {
  background-color: var(--background-button);
  color: var(--soft-orange);
  color: var(--soft-orange);
}
.remember-me-box label {
  padding-left: 0.2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#form-login p {
  color: rgb(119, 119, 119);
}
#form-login span {
  color: var(--orange);
}

/* Video Slide Content */

.video-content-box {
  height: 100vh;
  position: relative;
  z-index: 0;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.data-titles {
  color: white;
}
.data-titles h1 {
  font-weight: 700;
  font-size: 3em;
}
.data-titles p {
  font-size: 1.6em;
  padding-bottom: 0.5em;
}
.data-titles a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  padding: 0.7em 2em;
  border: 2px solid var(--orange);
  transition: 0.3s;
}
.data-titles a:hover {
  background-color: #ffa60043;
  color: var(--orange);
}

.controls {
  position: absolute;
  top: 37em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.64);
  display: flex;
  gap: 5px;
  padding: 0.5em 1em;
  border-radius: 30px;
}
.controls .vid-btn {
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin: 0.2em;
}

.controls .vid-btn.active {
  background-color: var(--orange);
}

/* Book Now Section */

.book-now-container h2 {
  color: var(--orange);
  font-size: 2em;
  font-weight: bold;
}
.book-now-container h2 span {
  background-color: var(--background-button);
  padding: 0.2em 0.4em;
  border-radius: 7px;
}
.image-book-box {
  width: 90%;
}
#form-book-now {
  width: 90%;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  padding: 1.3em;
}
#form-book-now .form-area {
  padding-bottom: 1.5em;
}
#form-book-now label {
  color: rgb(95, 95, 95);
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 0.4em;
}
#form-book-now input {
  border: 1px solid #d9dbdc;
  padding: 0.6em 0.7em;
  width: 100%;
}
#form-book-now button {
  background-color: #ffa500;
  color: white;
  border: 2px solid var(--orange);
  padding: 0.4em 1.5em;
  font-size: 1em;
  transition: 0.3s;
}
#form-book-now button:hover {
  background-color: var(--background-button);
  color: var(--orange);
}

/* Packages Section */

.packages-container h2 {
  color: var(--orange);
  font-size: 2em;
  font-weight: bold;
}
.packages-container h2 span {
  background-color: var(--background-button);
  padding: 0.2em 0.4em;
  border-radius: 7px;
}

/* Pack Box Container */

.package {
  width: 25em;
  box-shadow: 1px 1px 20px rgba(182, 182, 182, 0.541);
}
.package-data-box {
  padding: 1em;
}
.name {
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding-bottom: 0.3em;
}
.name i {
  color: var(--orange);
  padding-right: 0.3em;
}
.description {
  color: rgb(100, 100, 100);
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 0.2em;
}
.rating {
  color: var(--orange);
  padding-bottom: 0.2em;
}
.price {
  padding-bottom: 0.4em;
}
.price del {
  color: rgb(100, 100, 100);
  font-size: 0.8em;
  padding-left: 0.2em;
}
.package-data-box button {
  background-color: #ffa500;
  color: white;
  border: 2px solid var(--orange);
  padding: 0.4em 1.5em;
  font-size: 1em;
  transition: 0.3s;
}
.package-data-box button:hover {
  background-color: var(--background-button);
  color: var(--orange);
}

/* Services Section */

.services-container h2 {
  color: var(--orange);
  font-size: 2em;
  font-weight: bold;
}
.services-container h2 span {
  background-color: var(--background-button);
  padding: 0.2em 0.4em;
  border-radius: 7px;
}

/* Services Section */

.service {
  width: 20em;
  padding: 0.4em;
  margin-bottom: 2em;
}
.service:hover {
  box-shadow: 1px 2px 15px rgb(222, 222, 222);
}
.service i {
  font-size: 3.5em;
  color: var(--orange);
}
.service-name {
  font-size: 1.5em;
  font-weight: bold;
}
.service-image-box, .service-name {
  padding-bottom: 0.8em;
}
.service-description {
  color: rgb(100, 100, 100);
  line-height: 1.4em;
  font-size: 0.9em;
}

/* Gallery Section */

.gallery-container h2 {
  color: var(--orange);
  font-size: 2em;
  font-weight: bold;
}
.gallery-container h2 span {
  background-color: var(--background-button);
  padding: 0.2em 0.4em;
  border-radius: 7px;
}
.gallery-item {
  height: 19em;
  width: 19em;
  border: 0.4em solid white;
  box-shadow: 2px 2px 15px rgb(198, 198, 198);
  position: relative;
  overflow: hidden;
  border-radius: 0.3em;
}
.item-9 {
  width: 100%;
}
.gallery-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

      /* Gallery Item :Hover */


.gallery-item-hover {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.738);
  transition: 0.3s;
}
.gallery-item:hover .gallery-item-hover {
  top: 0;
}
.gallery-item-name {
  color: var(--orange);
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.2em;
}
.gallery-hover-description {
  padding-bottom: 0.4em;
}
.gallery-item-hover button {
  background-color: #ffa500;
  color: white;
  border: 2px solid var(--orange);
  padding: 0.4em 1.5em;
  font-size: 1em;
  transition: 0.3s;
}
.gallery-item-hover button:hover {
  background-color: var(--background-button);
  color: var(--orange);
}

/* Review Section */

.review-container h2 {
  color: var(--orange);
  font-size: 2em;
  font-weight: bold;
}
.review-container h2 span {
  background-color: var(--background-button);
  padding: 0.2em 0.4em;
  border-radius: 7px;
}

/* Sweeper Slide */

.swiper-slide {
  box-shadow: 2px 2px 15px rgba(198, 198, 198, 0.566);
  cursor: grab;
  border-radius: 5px;
}
.slide-image-box {
  width: 8em;
  height: 8em;
}
.slide-image-box img {
  border-radius: 100%;
  object-fit: cover;
}
.slide-name {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em 0;
}
.slide-description {
  color: rgb(100, 100, 100);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  padding-bottom: 0.5em;
}
.rating-slide {
  color: var(--orange);
}

/* Contact Section */

.contact-container h2 {
  color: var(--orange);
  font-size: 2em;
  font-weight: bold;
}
.contact-container h2 span {
  background-color: var(--background-button);
  padding: 0.2em 0.4em;
  border-radius: 7px;
}
.contact-container form {
  width: 90%;
  padding: 1.5em;
  box-shadow: 2px 2px 15px rgb(198, 198, 198);
}
.name-email input, .number-subject input {
  width: 48%;
  border: none;
  padding: 0.8em 1em;
  background-color: #f4f5f7;
  outline: none;
}
.contact-container form textarea {
  width: 100%;
  background-color: #f4f5f7;
  border: none;
  outline: none;
  padding: 0.8em 1em;
}
.contact-container form button {
  background-color: #ffa500;
  color: white;
  border: 2px solid var(--orange);
  padding: 0.4em 1.5em;
  font-size: 1em;
  transition: 0.3s;
}
.contact-container form button:hover {
  background-color: var(--background-button);
  color: var(--orange);
}
.contact-container form textarea {
  margin-bottom: 1.2em;
}




/* Media Queries - Responsive Format Website */

@media screen and (max-width: 1210px) {

  .logo-box {
    font-size: 1.4em;
  }
  nav ul a {
    font-size: 1em;
  }
  .search-login-box i {
    font-size: 1.3em;
  }
  .book-now-container h2 {
    font-size: 1.5em;
  }
  .book-now-container h2 span {
    padding: 0.1em 0.2em;
  }
  .name-email input, .number-subject input {
    width: 100%;
  }
  #contact-name, #contact-number {
    margin-bottom: 1.5em;
  }

}

@media screen and (max-width: 1060px) {
  .header-box-content {
    padding: 1.2em 0;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-main-box {
    display: block;
    top: 20%;
  }
  nav {
    display: none;
  }
  .logo-box {
    margin: auto;
  }
  .gallery-item {
    height: 23em;
    width: 23em;
    margin-bottom: 0.5em;
  }
  .contact-image-box {
    width: 30em;
    margin: auto;
  }

}